/* style/index.css */

body {
    background-color: #b1c8e9;
    font-family: Tahoma, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  #title{
    text-align: center;
    font-family: Tahoma, sans-serif;
    font-size: 40px;
    padding-top: 2.2%;
}
  
  #reactEntry {
    margin-top: 0px; /* Control spacing between title and buttons */
  }
  
  .btn-div {
    margin: 10px; /* Control spacing between buttons */
  }
  
  .btn {
    width: 200px;
    height: 60px;
    font-size: 20px;
    background-color: rgb(223, 246, 255);
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: rgb(196, 186, 215);
  }
  